body {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.testimonials {
    padding:20px;
    background-color:#ecf0f1;
    text-align: center;

}

.testimonials h1 {
    margin:0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial p {
    justify-content: center;
}

.col {
    flex:30.33%;
    max-width: 30.33%;
    box-sizing: border-box;
    margin:10px;
}

.testimonial {
    background-color:#fff;
    padding:30px;
}

.testimonial img {
    width:150px;
    height:150px;
    border-radius: 50%;
}

.testimonial .name {
    margin:10px;
    font-size:20px;
    font-weight: bold;
}

.border {
    height:3px;
    background-color:#2ecc71;
    width:120px;
    margin:10px auto;
}

.fa-star {
    color:#2ecc71;
}

@media only screen and (max-width:960px) {
    .col {
        max-width: 80%;
    }
}

@media only screen and (max-width:600px) {
    .col {
        max-width: 100%;
    }
}